<div class="overflow-scroll" style="height: calc(100vh - 64px)">
    <div *ngFor="let contact of contacts$ | async; let idx=index"
        class="p-4 pl-6 border-b-2 border-gray-100 flex flex-row align-middle">
        <a class="flex items-center mr-5" [href]="'tel:' + contact.phone">
            <span
                class="material-icons p-3 rounded-full opacity-80 shadow-md bg-green-400 hover:opacity-100 hover:shadow-lg">
                phone
            </span>
        </a>
        <div>
            <p class="text-xl">{{ contact.name }}</p>
            <p class="text-gray-500 text-lg">{{ contact.phone }}</p>
        </div>
        <div class="flex-grow"></div>
        <button class="flex items-center" (click)="deleteContact(contact)">
            <span class="material-icons p-3 opacity-80 cursor-pointer">
                delete
            </span>
        </button>
    </div>
</div>